.profile__button-edit{
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid white;
    outline: none;
    grid-area: edit;
    margin-top: 5px;
    cursor: pointer;
}

@media screen and (max-width: 410px){
    .profile__button-edit{
        margin-top: 28px;
    }
}