.popup__button{
    width: 358;
    height: 50px;
    background-color: black;
    border-radius: 2px;
    outline: none;
    border: none;
    color: white;
    margin-bottom: 36px;
    cursor: pointer;
}