.popup__form{
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 430px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 581px){
 
    .popup__form{
        width: 282px;
        height: 322px;
    }
}