.elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 17px;
    max-width: 880px;
    margin: auto;
}

@media screen and (max-width: 320px){

    .elements{
        margin: 0 19px 0 19px;
    }
}