.profile__addbutton{
    align-self: center;
    width: 282px;
    min-height: 50px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 2px;
    grid-area: button;
    }

    @media screen and (min-width: 880px){
 

        .profile__addbutton{
           width: 150px;
        }
     }
