.newitem__form{
    margin: auto;
    width: 358px;
    display: flex;
    flex-direction: column;
    border: none;
}

@media screen and (max-width: 581px){

    .newitem__form{
        max-width: 238px;
    }
}
