.profile__image-container{
    margin-bottom: 36px;
    grid-area: image;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 880px){
    .profile__image-container{
        margin: 0;
    }
}