.clickimg{
   
    display: flex;  
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 300;
    justify-content: center;
    align-items: center;
    
}

.clickimg__container{
    position: relative;
}

.clickimg_opened {
     
}

.clickimg__close{
  
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    top: -40px;
    right: -35px;
    cursor: pointer;
    outline: none;
    border: none; 
 }
    @media screen and (max-width: 581px){
     
        .clickimg__close{
            width: 20px;
            height: 20px;
            top: -25px;
            right: -10px ;
        }
    }



.clickimg__img{
    max-width: 75vw;
    max-height: 75vh;
}

.clickimg__title{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    z-index: 20;
}

